<!DOCTYPE html>
<html>
	<head>
		<h1>Add Cricketer Here</h1>
	</head>
	<body>
		 <form action = "/addCricketer" method = "post">
		 </p><label for = "name" > Name </lable>
		 <input type = "text" name = "name">
		 </p><label for = "country" > Country </label>
		 <input type = "text" name = "country">
		 </p><label for = "age" > Age </lable>
		 <input type = "text" name = "age">	
		 </p><input type = "submit" name = "Add" value = "Add Cricketer">
		</form>
	</body>
</html>