<!DOCTYPE html>
<html>
	<head>
		<title> Cric Info </title> 
	</head>
	<body>
		<h2> Welcome to Cricket Information System</h2>
		<% if (!isAuthenticated) { %>
		<a href = "/login"> Log in here </a>
		<%} else { %>
			Hello, <%= user.name %>!
		<p>	<a href = "/api/data"> Access Demo List </a> </p>	
		<p>	<a href = "/get/allCricketers"> Access All Cricketers </a> </p>	
		</br></br>
		<p>	<a href = "/addCricketer"> Add Cricketer</a> </p>
		</br></br></br>
		<p>	<a href = "/logout"> Log out here </a> </p>
		<% } %>
	</body>
</html>