<!DOCTYPE html>
<html>
	<head>
		<tittle> Log In </tittle> 
	</head>
	<body>
		 <form action = "/login" method = "post">
		 <input type = "text" name = "username">
		 <input type = "password" name = "password">	
		 <input type = "submit" name = "Log in" value = "Login">
		 <br><br><br>
		 <br><a href="/auth/facebook">Login with Facebook</a>
		</form>
	</body>
</html>